In [1]:
import numpy as np
import pandas as pd

In [ ]:
pwd

In [2]:
path = '/Users/matsuyamanatsuki/Desktop/homecredit/'
train = pd.read_csv(path + 'application_train.csv')
test = pd.read_csv(path + 'application_test.csv')

previous_application = pd.read_csv(path + 'previous_application.csv')

In [3]:

train_previous_application = pd.merge(train, previous_application, on = 'SK_ID_CURR')

In [4]:
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set()
%matplotlib inline
%precision 3

'%.3f'

In [ ]:
train_previous_application.groupby('NAME_CLIENT_TYPE')['TARGET'].mean()

In [ ]:

pd.crosstab(train_previous_application['NAME_CLIENT_TYPE'], train_previous_application['NAME_INCOME_TYPE'])

In [ ]:

labels = ['New','Refreshed','Repeater','XNA']
sizes = [58840,25979,236339,323]
explode = (0,0,0,0)

plt.figure(figsize = (15,6))

plt.pie(sizes,autopct = '%1.1f%%',labels = labels,explode = explode,shadow = True,startangle = 90)
plt.axis('equal')
print('Commercial associate')

In [ ]:

labels = ['New','Refreshed','Repeater','XNA']
sizes = [44478,20699,208034,333]
explode = (0,0,0,0)

plt.figure(figsize = (15,6))

plt.pie(sizes,autopct = '%1.1f%%',labels = labels,explode = explode,shadow = True,startangle = 90)
plt.axis('equal')
print('Pensioner')

In [ ]:

labels = ['New','Refreshed','Repeater','XNA']
sizes = [18003,7881,68447,93]
explode = (0,0,0,0)

plt.figure(figsize = (15,6))

plt.pie(sizes,autopct = '%1.1f%%',labels = labels,explode = explode,shadow = True,startangle = 90)
plt.axis('equal')
print('State servant')

In [ ]:

labels = ['New','Refreshed','Repeater','XNA']
sizes = [138188,60374,524733,794]
explode = (0,0,0,0)

plt.figure(figsize = (15,6))

plt.pie(sizes,autopct = '%1.1f%%',labels = labels,explode = explode,shadow = True,startangle = 90)
plt.axis('equal')
print('Working')

In [ ]:
train_previous_application_2 = train_previous_application
train_previous_application_2['DAYS_BIRTH'] = train_previous_application_2['DAYS_BIRTH']/(-365)

train_previous_application_2['DAYS_BIRTH'] = train_previous_application_2['DAYS_BIRTH'].map(lambda x: 1 if x >= 50 else 0)

In [ ]:
train_previous_application_2['DAYS_BIRTH'].head()

In [ ]:
pd.crosstab(train_previous_application['NAME_CLIENT_TYPE'], train_previous_application['DAYS_BIRTH'])

In [ ]:
labels = ['New','Refreshed','Repeater','XNA']
sizes = [176794,75120,657835,999]
explode = (0,0,0,0)
plt.figure(figsize = (15,6))

plt.pie(sizes,autopct = '%1.1f%%',labels = labels,explode = explode,shadow = True,startangle = 90)
plt.axis('equal')
print('                                                                                  Not Elderly')

In [ ]:
labels = ['New','Refreshed','Repeater','XNA']
sizes = [82746,39816,379847,544]
explode = (0,0,0,0)
plt.figure(figsize = (15,6))

plt.pie(sizes,autopct = '%1.1f%%',labels = labels,explode = explode,shadow = True,startangle = 90)
plt.axis('equal')
print('                                                                                      Elderly')

In [ ]:
train.groupby('TARGET').size()
labels = ['Safe','Default']
sizes = [282686,24825]
explode = (0,0)
plt.figure(figsize = (15,6))

plt.pie(sizes,autopct = '%1.1f%%',labels = labels,explode = explode,shadow = True,startangle = 90)
plt.axis('equal')

In [ ]:
train.groupby('NAME_INCOME_TYPE').size()

In [ ]:
labels = ['Businessman','Commercial associate','Maternity leave','Pensioner','State servant ','Student','Unemployed','Working']
sizes = [10,71617,5,55362,21703,18,22,158774]
explode = (0,0,0,0.1,0,0,0,0)
plt.figure(figsize = (15,6))

plt.pie(sizes,autopct = '%1.1f%%',labels = labels,explode = explode,shadow = True,startangle = 90)
plt.axis('equal')

In [ ]:
train.groupby('NAME_INCOME_TYPE')['TARGET'].mean()

In [ ]:
x = [1,2,3,4,5,6,7,8]
y = [0.000000,0.074843,0.400000,0.053864,0.057550,0.000000,0.363636,0.095885]
y =  [n*2 for n in y]
plt.figure(figsize = (10,6))
plt.bar(x,y,align = 'center',width = 0.5)
plt.xticks(x,['Businessman','Commercial associate','Maternity leave','Pensioner','State servant','Student','Unemployed','Working'])
plt.xlabel('INCOME')
plt.ylabel('DEFAULT')

plt.grid(True)

In [ ]:
train_eld = train[train['NAME_INCOME_TYPE'] == 'Pensioner']

train_eld.groupby('FLAG_OWN_CAR')['REGION_POPULATION_RELATIVE'].mean()

In [ ]:

x = [1,2]
y = [0.020509,0.021813]

plt.figure(figsize = (10,6))
plt.bar(x,y,align = 'center',width = 0.5)
plt.xticks(x,['NO','YES'])
plt.xlabel('OWN_CAR')
plt.ylabel('URBAN')

plt.grid(True)

In [ ]:
train.groupby('NAME_INCOME_TYPE')['AMT_CREDIT'].mean()

In [ ]:
x = [1,2,3,4,5,6,7,8]
y = [1.228500e+06,6.699131e+05,7.497000e+05,5.425461e+05,6.698193e+05,5.107875e+05,7.643864e+05,5.770110e+05]

plt.figure(figsize = (10,6))
plt.bar(x,y,align = 'center',width = 0.5)
plt.xticks(x,['Businessman','Commercial associate','Maternity leave','Pensioner','State servant','Student','Unemployed','Working'])
plt.xlabel('INCOME')
plt.ylabel('LOAN')

plt.grid(True)

In [ ]:
train.groupby('NAME_INCOME_TYPE')['AMT_GOODS_PRICE'].mean()

In [ ]:
x = [1,2,3,4,5,6,7,8]
y = [1.228500e+06,6.031804e+05, 7.497000e+05,4.881586e+05,6.024241e+05,4.582500e+05, 7.643864e+05,5.178644e+05]

plt.figure(figsize = (10,6))
plt.bar(x,y,align = 'center',width = 0.5)
plt.xticks(x,['Businessman','Commercial associate','Maternity leave','Pensioner','State servant','Student','Unemployed','Working'])
plt.xlabel('INCOME')
plt.ylabel('GOODS_PRICE')

plt.grid(True)

In [ ]:
train['FLAG_OWN_CAR'] = train['FLAG_OWN_CAR'].map(lambda x: 1 if x == 'Y' else 0)
#train.head()

In [ ]:
train['FLAG_OWN_REALTY'] = train['FLAG_OWN_REALTY'].map(lambda x: 1 if x == 'Y' else 0)
#train.head()

In [ ]:
train.groupby('NAME_INCOME_TYPE')['FLAG_OWN_CAR'].mean()

In [ ]:
x = [1,2,3,4,5,6,7,8]
y = [0.800000,0.391541, 0.200000,0.183574,0.343731,0.277778,0.318182,0.370980]
plt.figure(figsize = (10,6))
plt.bar(x,y,align = 'center',width = 0.5)
plt.xticks(x,['Businessman','Commercial associate','Maternity leave','Pensioner','State servant','Student','Unemployed','Working'])
plt.xlabel('INCOME')
plt.ylabel('OWN_CAR')

plt.grid(True)

In [ ]:
train.groupby('NAME_INCOME_TYPE')['FLAG_OWN_REALTY'].mean()

In [ ]:
x = [1,2,3,4,5,6,7,8]
y = [0.800000,0.685689,0.800000,0.762689,0.658573,0.555556,0.681818,0.678014]
plt.figure(figsize = (10,6))
plt.bar(x,y,align = 'center',width = 0.5)
plt.xticks(x,['Businessman','Commercial associate','Maternity leave','Pensioner','State servant','Student','Unemployed','Working'])
plt.xlabel('INCOME')
plt.ylabel('OWN_REALTY')

plt.grid(True)

In [ ]:
train.groupby('NAME_INCOME_TYPE')['REGION_POPULATION_RELATIVE'].mean()

In [ ]:
x = [1,2,3,4,5,6,7,8]
y = [ 0.030942,0.024600, 0.023286,0.020749,0.020146,0.021628, 0.021619,0.019324]
plt.figure(figsize = (10,6))
plt.bar(x,y,align = 'center',width = 0.5)
plt.xticks(x,['Businessman','Commercial associate','Maternity leave','Pensioner','State servant','Student','Unemployed','Working'])
plt.xlabel('INCOME')
plt.ylabel('URBAN')

plt.grid(True)

In [ ]:
train.groupby('NAME_INCOME_TYPE')['AMT_INCOME_TOTAL'].mean()

In [ ]:
x = [1,2,3,4,5,6,7,8]
y = [652500.000000, 202955.327289,140400.000000,136401.292273,179737.969506,170500.000000,110536.363636,163169.889223]
plt.figure(figsize = (10,6))
plt.bar(x,y,align = 'center',width = 0.5)
plt.xticks(x,['Businessman','Commercial associate','Maternity leave','Pensioner','State servant','Student','Unemployed','Working'])
plt.xlabel('OCCUPATION')
plt.ylabel('INCOME')

plt.grid(True)

In [ ]:
train.head()
train.shape

In [ ]:
train.shape

In [ ]:
train_cluster = train

In [ ]:

from sklearn.preprocessing import LabelEncoder
#LabelEncoderのインスタンスを生成
le = LabelEncoder()
#ラベルを覚えさせる
le = le.fit(train_cluster['NAME_INCOME_TYPE'])
#ラベルを整数に変換
train_cluster['NAME_INCOME_TYPE'] = le.transform(train_cluster['NAME_INCOME_TYPE'])
train_cluster['NAME_INCOME_TYPE'].head()

In [ ]:


#train_cluster = train[['TARGET','AMT_INCOME_TOTAL','AMT_CREDIT','NAME_INCOME_TYPE']]
train_cluster = train[['TARGET','AMT_INCOME_TOTAL','AMT_CREDIT','NAME_INCOME_TYPE','REGION_POPULATION_RELATIVE']]
#TARGET,AMT_INCOME_TOTAL,AMT_CREDIT,NAME_INCOME_TYPE
"""
cat_cols = ['Businessman','Commercial associate','Maternity leave','Pensioner','State servant','Student','Unemployed','Working']

train_cluster_dummy = pd.get_dummies(train_cluster['NAME_INCOME_TYPE'],columns = cat_cols)

train_cluster = pd.concat([train_cluster.drop(['NAME_INCOME_TYPE'],axis=1),train_cluster_dummy],axis=1)

"""

In [ ]:

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
sc.fit(train_cluster)
train_cluster_std = sc.transform(train_cluster)

In [ ]:

from sklearn.cluster import KMeans
"""
#クラスター数を調べる方法
#from sklearn.datasets import make_blobs
#X, _ = make_blobs(random_state = 10)
#plt.scatter(X[:,0],X[:,1],color = 'black')
dist_list = []
for i in range(1,20):
    kmeans = KMeans(n_clusters = i,init = 'random',random_state = 0)
    kmeans.fit(train_cluster_std)
    dist_list.append(kmeans.inertia_)

plt.plot(range(1,20),dist_list,marker = '+')
plt.xlbel('Number of clusters')
plt.ylabel('Distortion')
"""

In [ ]:

kmeans = KMeans(init = 'random',n_clusters = 6 ,random_state = 0)
kmeans.fit(train_cluster)

labels = pd.Series(kmeans.labels_,name = 'cluster_number')

print(labels.value_counts(sort = False))

ax = labels.value_counts(sort = False).plot(kind = 'bar')
ax.set_xlabel('cluster number')
ax.set_ylabel('count')

In [ ]:
train_with_cluster = pd.concat([train_cluster,labels],axis = 1)

train_with_cluster.head()

In [ ]:
cross_cluster_job = train_with_cluster.groupby(['cluster_number','NAME_INCOME_TYPE']).size().unstack().fillna(0)
cross_cluster_job.head()

In [ ]:
sns.heatmap(cross_cluster_job.apply(lambda x: x/x.sum(),axis = 1),cmap = 'Reds')

In [ ]:
train_with_cluster.groupby('NAME_INCOME_TYPE').size()
# 0~7が、['Businessman',
# 'Commercial associate','Maternity leave','Pensioner','State servant',
# 'Student','Unemployed','Working']に一致していることがわかった。

In [ ]:
cross_cluster_credit = train_with_cluster.groupby(['cluster_number','AMT_CREDIT']).size().unstack().fillna(0)
                                            
sns.heatmap(cross_cluster_credit.apply(lambda x: x/x.sum(),axis = 1),cmap = 'Reds')

In [ ]:
cross_cluster_credit = train_with_cluster.groupby(['cluster_number','AMT_INCOME_TOTAL']).size().unstack().fillna(0)
                                            
sns.heatmap(cross_cluster_credit.apply(lambda x: x/x.sum(),axis = 1),cmap = 'Reds')

In [ ]:
cross_cluster_region = train_with_cluster.groupby(['cluster_number','REGION_POPULATION_RELATIVE']).size().unstack().fillna(0)
                                            
sns.heatmap(cross_cluster_region.apply(lambda x: x/x.sum(),axis = 1),cmap = 'Reds')

In [ ]:
train_with_cluster.head()

In [ ]:
train_cluster = pd.concat([train,train_with_cluster['cluster_number']],axis = 1)

In [ ]:
train_cluster.head()

In [ ]:
train_cluster_0 = train_cluster[train_cluster['cluster_number'] == 0]
train_cluster_1 = train_cluster[train_cluster['cluster_number'] == 1]
train_cluster_2 = train_cluster[train_cluster['cluster_number'] == 2]
train_cluster_3 = train_cluster[train_cluster['cluster_number'] == 3]
train_cluster_4 = train_cluster[train_cluster['cluster_number'] == 4]
train_cluster_5 = train_cluster[train_cluster['cluster_number'] == 5]

In [ ]:
print(train_cluster_0.groupby('TARGET').size(),511/(11155+511))
print(train_cluster_1.groupby('TARGET').size(),4720/(58920+4720))
print(train_cluster_2.groupby('TARGET').size(),1/1)
print(train_cluster_3.groupby('TARGET').size(),8192/(72493+8192))
print(train_cluster_4.groupby('TARGET').size(),2513/(37369+2513))
print(train_cluster_5.groupby('TARGET').size(),8888/(102749+8888))

In [ ]:
train_cluster_5_eld = train_cluster_5[train_cluster_5['NAME_INCOME_TYPE'] == 3]
train_cluster_0_eld = train_cluster_5[train_cluster_5['NAME_INCOME_TYPE'] == 0]

In [ ]:
"""
#trainデータの整形
train_cluster['flg_cluster4'] = train_cluster['cluster_number'].apply(lambda x : 1 if x == 4 else 0)
train_cluster.drop(['cluster_number'],axis = 1)
train_cluster.drop(['TARGET'],axis = 1)
y_train = train_cluster['flg_cluster4']
X_train = train_cluster.drop(['cluster_number'],axis = 1).drop(['flg_cluster4'],axis = 1)
#train_cluster.drop(['cluster_number'],axis = 1)
"""

In [ ]:
"""
#testデータの整形
test_cluster['flg_cluster4'] = test_cluster['cluster_number'].apply(lambda x : 1 if x == 4 else 0)
test_cluster.drop(['cluster_number'],axis = 1)
y_test = test_cluster['flg_cluster4']
X_test = test_cluster.drop(['cluster_number'],axis = 1).drop(['flg_cluster4'],axis = 1)
"""

In [ ]:
#trainデータが3万件以上あるので、クロスバリデーションを用いる。
import sklearn
print('データ型の確認(型変換前)\n{}\n'.format(train_cluster.dtypes))
##これを抽出、数値型にして(pd.get_dummyなど)モデルに打ち込む

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import gc
import time
from contextlib import contextmanager
#from lightgbm import LGBMClassifier
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import KFold, StratifiedKFold
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#trainデータの整形
#train_cluster['flg_cluster4'] = train_cluster['cluster_number'].apply(lambda x : 1 if x == 4 else 0)
train_cluster = train_cluster.drop(['cluster_number'],axis = 1)
#train_cluster = train_cluster.drop(['TARGET'],axis = 1)

In [ ]:
#train_cluster['CODE_GENDER'].head()

In [ ]:
#def one_hot_encoder(df, nan_as_category = True):
"""
    データフレームの内，型がobjectの列をone hot 化.
    引数
    df: データフレーム
    出力
    df: カテゴリ変数をone hot 化ｓたデータフレーム
    new_columns: 新しく作成した列の名前
"""
    
original_columns = list(train_cluster.columns)
categorical_columns = [col for col in train_cluster.columns if train_cluster[col].dtype == 'object']
train_cluster = pd.get_dummies(train_cluster, columns= categorical_columns, dummy_na= True)
new_columns = [c for c in train_cluster.columns if c not in original_columns]
#return df, new_columns

# Preprocess application_train.csv and application_test.csv
#def application_train_test(num_rows = None, nan_as_category = False):
# Read data and merge
# appのtrainとtestを読み込んで結合
#df = pd.read_csv('../input/application_train.csv', nrows= num_rows)
    
#test_df = pd.read_csv('../input/application_test.csv', nrows= num_rows)
#print("Train samples: {}, test samples: {}".format(len(df), len(test_df)))
#df = df.append(test_df).reset_index()
# Optional: Remove 4 applications with XNA CODE_GENDER (train set)
#df = df[df['CODE_GENDER'] != 'XNA']
#train_cluster = train_cluster[train_cluster['CODE_GENDER']!= 'XNA']
    
# Categorical features with Binary encode (0 or 1; two categories)
# カテゴリ変数 (性別, 車所有, 不動産所有) を01に変換
#for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
for bin_feature in ['FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
#df[bin_feature], uniques = pd.factorize(df[bin_feature])
    train_cluster[bin_feature], uniques = pd.factorize(train_cluster[bin_feature])
# Categorical features with One-Hot encode
#df, cat_cols = one_hot_encoder(df, nan_as_category)
#train_cluster, cat_cols = one_hot_encoder(train_cluster,False)
    
# NaN values for DAYS_EMPLOYED: 365.243 -> nan
# 勤続日数 (DAYS_EMPLOYED) の365243をnanに置換. 元々nanがこの値で埋められている.
#df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)
train_cluster['DAYS_EMPLOYED'].replace(365243, np.nan, inplace= True)
# Some simple new features (percentages)
train_cluster['DAYS_EMPLOYED_PERC'] = train_cluster['DAYS_EMPLOYED'] / train_cluster['DAYS_BIRTH'] # 勤続日数/年齢日数
train_cluster['INCOME_CREDIT_PERC'] = train_cluster['AMT_INCOME_TOTAL'] / train_cluster['AMT_CREDIT'] # 総収入/借入額
train_cluster['INCOME_PER_PERSON'] = train_cluster['AMT_INCOME_TOTAL'] / train_cluster['CNT_FAM_MEMBERS'] # 総収入/家族人数
train_cluster['ANNUITY_INCOME_PERC'] = train_cluster['AMT_ANNUITY'] / train_cluster['AMT_INCOME_TOTAL'] # 月々の返済額/総収入
train_cluster['PAYMENT_RATE'] = train_cluster['AMT_ANNUITY'] / train_cluster['AMT_CREDIT'] # 月々の返済額/借入額
#del test_df
gc.collect()
#return train_cluster

In [ ]:
print('データ型の確認(型変換前)\n{}\n'.format(train_cluster.dtypes))

In [ ]:
train_cluster.shape

In [ ]:
train_cluster = train_cluster.dropna()
train_cluster.shape

In [ ]:


y_train = train_cluster['TARGET']
X_train = train_cluster.drop(['TARGET'],axis = 1)
X_train, X_test,y_train,y_test = train_test_split(X_train,y_train,random_state = 0)

model = DecisionTreeClassifier(criterion = 'entropy',max_depth = 6,random_state = 0)
model.fit(X_train,y_train)


print('正解率(train):{:.3f}'.format(model.score(X_train,y_train)))
print('正解率(test):{:.3f}'.format(model.score(X_test,y_test)))

In [ ]:
pip install plotly --upgrade

In [ ]:
pip install cufflinks

In [ ]:
application_train = train
application_test = test
import plotly
import plotly.offline as py
py.init_notebook_mode(connected=True)
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.offline as offline
offline.init_notebook_mode()
import cufflinks as cf
cf.go_offline()

from sklearn import preprocessing
categorical_feats = [
    f for f in application_train.columns if application_train[f].dtype == 'object'
]

for col in categorical_feats:
    lb = preprocessing.LabelEncoder()
    lb.fit(list(application_train[col].values.astype('str')) + list(application_test[col].values.astype('str')))
    application_train[col] = lb.transform(list(application_train[col].values.astype('str')))
    application_test[col] = lb.transform(list(application_test[col].values.astype('str')))
    
application_train.fillna(-999, inplace = True)





from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50, max_depth=8, min_samples_leaf=4, max_features=0.5, random_state=2018)
rf.fit(application_train.drop(['SK_ID_CURR', 'TARGET'],axis=1), application_train.TARGET)
features = application_train.drop(['SK_ID_CURR', 'TARGET'],axis=1).columns.values

x, y = (list(x) for x in zip(*sorted(zip(rf.feature_importances_, features), 
                                                            reverse = False)))
trace2 = go.Bar(
    x=x ,
    y=y,
    marker=dict(
        color=x,
        colorscale = 'Viridis',
        reversescale = True
    ),
    name='Random Forest Feature importance',
    orientation='h',
)

layout = dict(
    title='Barplot of Feature importances',
     width = 900, height = 2000,
    yaxis=dict(
        showgrid=False,
        showline=False,
        showticklabels=True,
#         domain=[0, 0.85],
    ),
    margin=dict(
    l=300,
),
)

fig1 = go.Figure(data=[trace2])
fig1['layout'].update(layout)
py.iplot(fig1, filename='plots')

In [43]:
train_paid = train[(train['TARGET'] == 0)]
train_unpaid = train[(train['TARGET'] == 1)]

In [44]:
a = train_paid['AMT_ANNUITY'].sum()
print('surpass',a)
a_real = a * 0.75

surpass 7678450066.5

In [45]:
b = train_unpaid['AMT_ANNUITY'].sum()
print("default",b)
b_real = b * 0.75

default 657409302.0

In [46]:
surpass = a - a_real - b_real * 0.6
print(surpass)

1623778330.725

In [11]:
train['flg_over50'] =  train['DAYS_BIRTH']/(-365) >= 50
train['flg_over50'].head()

0    False
1    False
2     True
3     True
4     True
Name: flg_over50, dtype: bool

In [16]:
train_over50 = train[train['flg_over50'] ==  True]

In [18]:
train.size

37823853

In [21]:
train_over50.size

12751287

In [22]:
print(37823853/12751287)

2.9662772863633293

In [24]:
train_over50_1 = train_over50
train_over50_2 = pd.concat([train_over50,train_over50_1])
train_over50_3 = pd.concat([train_over50_2,train_over50_1])
train_over50_3.size

38253861

In [25]:
print(12751287*3)

38253861

In [47]:
train_over50_paid = train_over50_result[(train_over50_result['TARGET'] == 0)]
train_over50_unpaid = train_over50_result[(train_over50_result['TARGET'] == 1)]

a = train_over50_paid['AMT_ANNUITY'].sum()
print('surpass',a)
a_real = a * 0.75

b = train_over50_unpaid['AMT_ANNUITY'].sum()
print("default",b)
b_real = b * 0.75

surpass = a - a_real - b_real * 0.6
print(surpass)

surpass 7707298203.0
default 461613870.0
1719098309.25

In [42]:
ans = 1719098309.25/1623778330.725 * 100 
print(ans)

105.87025807164459